[submodule "opt/powerlevel10k"]
	path = opt/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "opt/fzf"]
	path = opt/fzf
	url = https://github.com/junegunn/fzf
[submodule "opt/fzf-tab"]
	path = opt/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "opt/zsh-syntax-highlighting"]
	path = opt/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
